.Host {
    align-items     : center;
    background      : #56CCF2;
    background      : -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background      : linear-gradient(to right, #2F80ED, #56CCF2);
    background-size : cover;
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    justify-content : center;
    max-height      : 100%;
    max-width       : 100%;
    width           : 100%;
}

.Host > h3 {
    color        : white;
    font-family  : cursive;
    font-size    : 3.4rem;
    font-weight  : 600;
    margin-bottom: 0.4rem;
}

.OverViewShadow {
    border-radius    : 8px;
    z-index          : 2;
    position         : relative;
}

.OverViewForm {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    min-height     : 255px;
    min-width      : 100vw;
    max-width      : 100vw;
    max-height     : calc(50vh - 16px);
    overflow       : auto;
    position       : relative;
    z-index        : 10;
}

.OverViewForm > :nth-child(1) {
    display       : flex;
    flex-direction: column;
    width         : 220px;
}

.OverViewForm > :nth-child(2) {
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    align-items     : center;
    margin          : 8px;
}

.OverViewKeep {
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.CheckBox {
    margin : 0 6px;
}

.OwlIcon {
    background-image: url(/assets/img/owl.svg);
    background-size : 100%;
    height          : 32px;
    width           : 32px;
}